<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Codes</title>
    </head>
    <body>
        <ul>
        {% for drug, code in drugs %}
            <li>{{ drug }},{{ code }}</li>
        {% endfor %}
        </ul>
    </body>
</html>